{#
/**
 * @file
 * Default theme implementation to display various LLM output
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_loremipsum()
 *
 * @ingroup themeable
 */
#}
<div class="drupalai">
{% for item in source_text %}
  <p>{{ item }}</p>
{% endfor %}
</div>